<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="fluentd" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="FILE"/>
        <appender-ref ref="FLUENT"/>-->
    </logger>
</configuration>